h1 {
color:teal;
font-family:copperplate;
background-color: cornflowerblue;
border: 5px solid black;
padding: 50px;
text-align: center;
}
.top {
background-color: darkseagreen;
float: center;
}
h3 {
color:white;
font-family:copperplate;
background-color: slateblue;
border: 5px solid cornflowerblue;
}
p {
  color: darkcyan;
  font-family: papyrus;
  font-weight: bolder;
  text-align: center;
}
#highlight {
  color: darkcyan;
  font-family: papyrus;
}
img {
  padding: 8px;
  border:10px solid slateblue;
  background-color: darkturquoise;
  width:60%;
  height:60%;
}
h2 {
  color:#2F4F4F;
  font-family: copperplate;
  border: 2px solid darkorchid;
  text-align: center;
  background-color: darkseagreen;
}
